html,
body,
#root,
.container {
  width: 100%;
  height: 100%;
}

.container-layout {
  display: flex;
  background-color: #f3f7fa;
  section {
    width: 100%;
  }
}

.show-toast-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 50px;
  .show-toast-button {
    margin: 0 10px;
    height: 23px;
    border: none;
    border-radius: 3px;
    text-align: center;
    color: #333;
    cursor: pointer;

    &.normal {
      background-color: #4ba3fa;
      &:hover {
        background-color: #3081d0;
      }
    }
    &.warning {
      background-color: #e08d00;
      &:hover {
        background-color: #ba7203;
      }
    }
    &.error {
      background-color: #be0c00;
      &:hover {
        background-color: #9b0e05;
      }
    }
  }
}
